<div class="container">
    <h1>Employee Date</h1>
    <table class="table table-border">
        <tr>
            <td>Employee Id</td>
            <td>{{employee.id}}</td>
        </tr>
        <tr>
            <td>Employee Name</td>
            <td>{{employee.name}}</td>
        </tr>
        <tr>
            <td>Employee Gender</td>
            <td>{{employee.gender}}</td>
        </tr>
        <tr>
            <td>Employee Age</td>
            <td>{{employee.age}}</td>
        </tr>
        <tr>
            <td>Employee Salary</td>
            <td>{{employee.salary}}</td>
        </tr>
    </table>
    <button class="btn btn-danger" (click)="onClick()"> Go Back to employee list</button>
</div>